<h4 class="font-weight-bold py-3 mb-4">Employee</h4>
<div *ngIf="enteredId">
  <h5 *ngIf="enteredId">{{employee.firstName}} {{employee.lastName}}</h5>

  <p>Employee Id: {{Id}}</p>
  <p>Career Level: {{employee.careerLevel}}</p>
  <p *ngIf="showAddress">Address: {{employee.address}} {{employee.city}}, {{employee.state}} {{employee.zipcode}}</p>
  <p *ngIf="skills != null">Skills:</p>
  <tr *ngFor="let skill of employee.skills">{{skill}}</tr>
  <button type="button" class="btn btn-info" (click)="open(defaultModal)">Update Employee</button>
  <button type="button" class="btn btn-danger" (click)="deleteEmployee()">Delete Employee</button>

</div>

<div *ngIf="!enteredId">
  <input (keyup.enter)="search()" id="searchBy" placeholder="Type Employee to search by">
  <button class="btn btn-primary" (click)="search()">Search</button>

  <br>
  <button type="button" class="btn btn-info" (click)="open(defaultModal)">Add Employee</button>

  <div>
    <tr *ngFor="let emp of employees">
      <a [routerLink]="['/employee', { id: emp.empId }]">{{emp.firstName}} {{emp.lastName}}</a>
    </tr>
  </div>

</div>

<ng-template #defaultModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">
      <div *ngIf="!enteredId">New
        <span class="font-weight-light">Employee</span>
      </div>
      <div *ngIf="enteredId">Update
        <span class="font-weight-light">Employee</span>
      </div>
      <br>
      <small class="text-muted">Enter all of the below information</small>
    </h5>
    <button type="button" class="close" (click)="d('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col mb-0">
        <label class="form-label">First Name</label>
        <input [(ngModel)]="firstName" type="text" class="form-control" placeholder="Enter your First Name...">
      </div>
      <div class="form-group col mb-0">
        <label class="form-label">Last Name</label>
        <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="Enter your Last Name...">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <br>
        <label class="form-label">Career Level</label>
        <input [(ngModel)]="careerLevel" type="text" class="form-control" placeholder="Enter your Career Level...">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col mb-0">
        <label class="form-label">Date of Birth</label>
        <input [(ngModel)]="dateOfBirth" type="date" class="form-control">
      </div>
      <div class="form-group col mb-0">
        <label class="form-label">Date of Join</label>
        <input [(ngModel)]="dateOfJoin" type="date" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label class="form-label">Address</label>
        <input [(ngModel)]="address" type="text" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col mb-0">
        <label class="form-label">City</label>
        <input [(ngModel)]="city" type="text" class="form-control">
      </div>
      <div class="form-group col mb-0">
        <label class="form-label">State</label>
        <input [(ngModel)]="state" type="text" class="form-control">
      </div>
      <div class="form-group col mb-0">
        <label class="form-label">Zip Code</label>
        <input [(ngModel)]="zipcode" type="text" class="form-control">
      </div>
    </div>
    <div>
      <label class="form-label">Skills</label>
      <tag-input class="ngx-chips-primary" [(ngModel)]="skills" [editable]="!disabled" [disable]="disabled" secondaryPlaceholder="Enter a skill..."
        placeholder="+Skill">
        <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="autocompleteItems">
        </tag-input-dropdown>
      </tag-input>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
    <button *ngIf="!enteredId" type="button" class="btn btn-primary" (click)="save(); c('Close click')">Save</button>
    <button *ngIf="enteredId" type="button" class="btn btn-primary" (click)="updateEmployee(); c('Close click')">Update</button>
  </div>
</ng-template>

<style>
  .ng2-dropdown-menu {
    z-index: 9999 !important;
  }

  .ion-md-trash {
    color: red;
  }

</style>
