<h4 class="font-weight-bold py-3 mb-4">Home</h4>

<div style="text-align: right">
  <input (keyup.enter)="search()" id="skillInput" placeholder="Type Skill to search by">
  <button class="btn btn-primary" (click)="search()">Search</button>
</div>

<br>
<div class="card" style="text-align:center">
  <table class="table card-table">
    <thead>
      <th>Employee Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Career Level</th>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
        <td>
          <a href="/employee/{{d.empId}}">{{d.empId}}</a>
        </td>
        <td>{{d.firstName}}</td>
        <td>{{d.lastName}}</td>
        <td>{{d.careerLevel}}</td>
      </tr>
    </tbody>
  </table>
</div>
